@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Edu VIC WA NT Beginner", cursive;
}
img {
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
